@import "../../css/colors.css";

.heatmapButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.heatmapButtonContainer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.375rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.heatmapButtonContainer button:not(.active):hover {
    background-color: $looks-light-transparent;
}

.heatmapButtonContainer button.active {
    background-color: $looks-transparent;
}

.heatmapIcon {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
