@import "../../../css/colors.css";

.resume {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
}

.resume:hover {
    background-color: $looks-light-transparent;
}

.resume {
    opacity: 1;
    cursor: pointer;
}
