@import "../../css/colors.css";

.time-slider-wrapper {
    width: 100%;
}

.time-slider {
    width: calc(100% - 1.5rem);
}

.remove-history-button {
    max-height: 1rem;
    margin-bottom: 0.25rem;
    margin-left: 0.15rem;
    opacity: 0.5;
}

.remove-history-button:hover {
    background-color: $motion-light-transparent;
}

.remove-history-button.is-enabled {
    opacity: 1;
    cursor: pointer;
}
