@import "../../../css/colors.css";

.pause {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
}

.pause:hover {
    background-color: $motion-light-transparent;
}

.pause.is-paused {
    background-color: $motion-transparent;
}
