@import "../../css/units.css";
@import "../../css/colors.css";

.debugger-tab {
    border: 1px solid $ui-black-transparent;
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
}

[dir="ltr"] .debugger-tab {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .debugger-tab {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}
