@import "../../css/units.css";
@import "../../css/colors.css";

.testResultTab {
    margin: 20px;
    overflow: scroll;
    height: 800px;
    width: 100%;
}

.feedbackTree {
    margin: 10px 10px 10px 20px;
}

.feedbackIcon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
